  .example-spacer {
    flex: 1 1 auto;
  }

  * {
    justify-content: center;
    text-align: center;
}

mat-spinner {
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
}

mat-toolbar {
    background-color: #202124;
}

mat-toolbar-row {
    background-color: #202124;
}

table {
    width: 100%;
  }
  
