/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
* {
    justify-content: center;
    text-align: center;
}

mat-spinner {
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
}