<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Welcome to Random Material Comps. Created By Aman Sarosh ッ</span>
  
      <span class="example-spacer"></span>
      
     <a mat-button href="/about">About</a>
  
      <!--Trigger-->
      <button mat-button [matMenuTriggerFor]="menu">Contact</button>
  <mat-menu #menu="matMenu">
        <a mat-menu-item href = "mailto: amansarosh13@gmail.com">Fly Me An Email</a>
  </mat-menu>
  <button mat-raised-button
          matTooltip="You cannot log in"
          aria-label="Button that displays a tooltip when focused or hovered over">
    Sign In
  </button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <!--Form-->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name">
    </mat-form-field>
  
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Lorem Ipsum" value="Placeholder Text">
      </mat-form-field>
    
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Grammarly Enabled Form"></textarea>
    </mat-form-field>
  </form>
  
  <!--Spinner-->
  <mat-spinner style="margin: auto;"></mat-spinner>
  <hr>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  
  <hr>
  
  <!--Button With Ripple-->
  <button mat-raised-button>Click me!</button>
  
  <!--ContentSlides-->
  <mat-tab-group>
    <mat-tab label="First"> Content Slide 1 </mat-tab>
    <mat-tab label="Second"> Content Slide 2 </mat-tab>
    <mat-tab label="Third"> Content Slide 3 </mat-tab>
  </mat-tab-group>
  
  <!--Checkboxes-->
  <mat-checkbox>Check me!</mat-checkbox>
  <!--Sliders-->
  <mat-slider></mat-slider>
  
  <!--SliderToggle-->
  <mat-slide-toggle>Slide me!</mat-slide-toggle>
  
  <!--RadioButtons-->
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group>


  <router-outlet></router-outlet>