.example-form {
    width: 100%;
  }

.example-full-width {
  width: 100%;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 10px;
  }

  * {
    justify-content: center;
    text-align: center;
}

mat-spinner {
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
}

mat-toolbar {
    background-color: #202124;
}

mat-toolbar-row {
    background-color: #202124;
}
